.frame-4 {
  align-items: center;
  display: flex;
  gap: 156px;
  height: 40px;
  left: 0;
  padding: 0px 15px;
  position: absolute;
  top: 0;
  width: 361px;

  z-index: 1001;
  background-color: white;
  width: 100%;
  border-radius: 10px 10px 0 0; /* ✅ 위쪽이 둥글게 */
}

.frame-4 .frame-37 {
  align-items: center;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 13px;
  position: relative;
}

.frame-4 .frame-38 {
  align-items: center;
  display: flex;
  flex: 1;
  flex-grow: 1;
  position: relative;
}

.frame-4 .text-wrapper-59 {
  color: #222222;
  font-family: "SUIT-Thin", Helvetica;
  font-size: 12.7px;
  font-weight: 100;
  letter-spacing: -0.60px;
  line-height: 13px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.frame-4 .mask-group-3 {
  height: 16px;
  position: relative;
  width: 16px;
}

.frame-4 .text-wrapper-60 {
  color: #222222;
  font-family: "SUIT-Thin", Helvetica;
  font-size: 12.8px;
  font-weight: 100;
  letter-spacing: -0.60px;
  line-height: 13px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.frame-4 .text-wrapper-61 {
  color: #222222;
  font-family: "SUIT-Thin", Helvetica;
  font-size: 12.8px;
  font-weight: 100;
  letter-spacing: -0.60px;
  line-height: 13px;
  margin-right: -6.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.frame-4 .image-7 {
  left: unset !important;
  position: relative !important;
  top: unset !important;
}

.frame-4 .close-svg-fill-wrapper {
  height: 24px;
  position: relative;
  transform: none;
  width: 24px;
}

.frame-4 .close-svg-fill {
  height: 24px;
}

.frame-4 .close-svg {
  height: 24px;
  position: relative;
  width: 24px;
}

.frame-4 .mask-group-4 {
  height: 24px;
  left: 0;
  position: absolute;
  top: 0;
  transform: none;
  width: 24px;
}
