.frame-3 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  position: relative;
}

.frame-3 .frame-28 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 87.83px;
}

.frame-3 .horizontal-border {
  align-self: stretch;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #18253d14;
  height: 40px;
  position: relative;
  width: 100%;
}

.frame-3 .text-wrapper-39 {
  color: #18253d99;
  font-family: "SUIT-Thin", Helvetica;
  font-size: 13.8px;
  font-weight: 100;
  height: 16px;
  left: 31px;
  letter-spacing: -0.42px;
  line-height: 16px;
  position: absolute;
  text-align: center;
  top: 10px;
  white-space: nowrap;
}

.frame-3 .text-wrapper-40 {
  color: #18253d99;
  font-family: "SUIT-Thin", Helvetica;
  font-size: 14px;
  font-weight: 100;
  height: 16px;
  left: 18px;
  letter-spacing: -0.42px;
  line-height: 16px;
  position: absolute;
  text-align: center;
  top: 10px;
  white-space: nowrap;
}

.frame-3 .text-wrapper-41 {
  color: #18253d99;
  font-family: "SUIT-Thin", Helvetica;
  font-size: 14px;
  font-weight: 100;
  height: 16px;
  left: 19px;
  letter-spacing: -0.42px;
  line-height: 16px;
  position: absolute;
  text-align: center;
  top: 10px;
  white-space: nowrap;
}

.frame-3 .frame-29 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 93.5px;
}

.frame-3 .text-wrapper-42 {
  color: #18253d99;
  font-family: "SUIT-Thin", Helvetica;
  font-size: 13.9px;
  font-weight: 100;
  height: 16px;
  left: 22px;
  letter-spacing: -0.42px;
  line-height: 16px;
  position: absolute;
  text-align: center;
  top: 10px;
  white-space: nowrap;
}

.frame-3 .text-wrapper-43 {
  color: #17253c;
  font-family: "SUIT-Thin", Helvetica;
  font-size: 15px;
  font-weight: 100;
  height: 16px;
  left: 6px;
  letter-spacing: -0.45px;
  line-height: 16px;
  position: absolute;
  text-align: center;
  top: 10px;
  white-space: nowrap;
}

.frame-3 .text-wrapper-44 {
  color: #17253c;
  font-family: "SUIT-Thin", Helvetica;
  font-size: 15px;
  font-weight: 100;
  height: 16px;
  left: 32px;
  letter-spacing: -0.45px;
  line-height: 16px;
  position: absolute;
  text-align: center;
  top: 10px;
  white-space: nowrap;
}

.frame-3 .text-wrapper-45 {
  color: #18253d99;
  font-family: "SUIT-Thin", Helvetica;
  font-size: 14px;
  font-weight: 100;
  height: 16px;
  left: 22px;
  letter-spacing: -0.42px;
  line-height: 16px;
  position: absolute;
  text-align: center;
  top: 10px;
  white-space: nowrap;
}

.frame-3 .frame-30 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 87.84px;
}

.frame-3 .text-wrapper-46 {
  color: #18253d99;
  font-family: "SUIT-Thin", Helvetica;
  font-size: 14px;
  font-weight: 100;
  height: 16px;
  left: 17px;
  letter-spacing: -0.42px;
  line-height: 16px;
  position: absolute;
  text-align: center;
  top: 10px;
  white-space: nowrap;
}

.frame-3 .text-wrapper-47 {
  color: #18253d99;
  font-family: "SUIT-Thin", Helvetica;
  font-size: 14px;
  font-weight: 100;
  height: 16px;
  left: 15px;
  letter-spacing: -0.42px;
  line-height: 16px;
  position: absolute;
  text-align: center;
  top: 10px;
  white-space: nowrap;
}

.frame-3 .text-wrapper-48 {
  color: #18253d99;
  font-family: "SUIT-Thin", Helvetica;
  font-size: 14px;
  font-weight: 100;
  height: 16px;
  left: 16px;
  letter-spacing: -0.42px;
  line-height: 16px;
  position: absolute;
  text-align: center;
  top: 10px;
  white-space: nowrap;
}
